.sidebar__content{
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  min-width: 300px;
  padding: 1rem;

  z-index: 1;

  background-color: aliceblue;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 4px 0px 6px 0px rgba(0,0,0,0.75); 
}

.sidebar__logo{
  display: flex;
  justify-content: center;
  background-color: white;
}

.sidebar__logo img{
  width: 100px;
  border-radius: 20%;
}

.sidebar__actions{
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar__actions > button{
  margin: 20px 0;
}

.sidebar__logout,
.sidebar__localizapet{
  font-size: 16px;
  font-weight: 600;
  margin-left: 14px;
}

.sidebar__logout-button,
.sidebar__logo-button{
  height: 56px;
  display: flex;
  justify-content: flex-start;
}

.sidebar__logout-button{
  height: 56px;
  display: flex;
  justify-self: flex-end;
}

.sidebar__logo-button:hover:not(.botao-icone__principal:disabled){
  transition: 0.5s;
  filter: brightness(100%);
  background-color: unset;
}