.profile__content{
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  background-image: url("../../../assets/img/background2.jpg");
  background-size: cover;
}

.profile__container{
  margin: 0 auto;
  width: 60%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0.8rem;

  z-index: 1;

  background-color: rgba(240, 248, 255, 0.9);
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  /* box-shadow: 4px 0px 6px 0px rgba(0,0,0,0.75);    */
}

.profile__form{
  width: 100%;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__form-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile__form-header-img{
  width: 140px;
  padding-right: 36px;
}

.profile__form-header-img > img{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  box-shadow: 0px 0px 16px 0px rgba(102, 91, 225, 0.6); 
}

.profile__form-header-user{
  padding: 10px 5px;
  margin-top: 3px;
  width: 75%;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 1px 1px 16px rgba(102, 91, 225, 0.6); 
}

.profile__map{
  width: 500px;
  height: 250px;
}

.profile__botao{
  margin-top: 10px;
  width: 200px;
}