@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  position: relative;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

ul::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 6px;
}

ul::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  background: var(--white-0);
  border-radius: 5px;
  border: 0;
  width: 10px;
  outline: 2px solid var(--white-0);
}

ul::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--purple-main);
}
