.pet__content{
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  background-image: url("../../../assets/img/background1.jpg");
  background-size: cover;
}

.pet__container{
  margin: 0 auto;
  width: 60%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 0.8rem;

  z-index: 1;

  background-color: rgba(240, 248, 255, 0.9);
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  /* box-shadow: 4px 0px 6px 0px rgba(0,0,0,0.75);    */
}

.pet__info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pet__info-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pet__info-header-img{
  width: 140px;
  padding-right: 36px;
}

.pet__info-header-img > img{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  box-shadow: 0px 0px 16px 0px rgba(102, 91, 225, 0.6); 
}

.pet__info-header-name{
  font-size: 30px;
  font-weight: 600;
  width: 200px;
  margin: 0;
  text-shadow: 1px 1px 16px rgba(102, 91, 225, 0.6);   
}

.pet__info-situation-lost{
  font-size: 30px;
  font-weight: 500;
  color: var(--purple-heavy-1);
  text-shadow: 4px 4px 4px rgba(225, 91, 91, 0.6);  
}

.pet__info-situation-adoption{
  font-size: 30px;
  font-weight: 500;
  color: var(--purple-heavy-1);
  text-shadow: 4px 4px 4px rgba(102, 91, 225, 0.6);
}

.pet__map{
  width: 500px;
  height: 250px;
}

.pet__botao{
  margin-top: 10px;
  width: 200px;
}

.pet__editPet{
  justify-content: flex-end;
}

.pet__editPet-label{
  width: 40px;
}

.pet__form{
  width: 100%;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}